{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [".", "./src"],
        "alias": {
          "components": "./src/components",
          "css": "./src/css"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "react-css-modules",
      {
        "generateScopedName": "wri_api__[local]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
