{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [".", "./src"],
        "alias": {
          "components": "./src/components",
          "css": "./src/css"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
